.maus-tratos section {
    display: flex;
    flex-direction: column;
}

.maus-tratos section h1 {
    font-size: 2em;
    text-transform: uppercase;
}

.maus-tratos section h1 {
    margin: 1em 0;
}

.maus-tratos section p {
    text-align: justify;
    text-indent: 3em;
    line-height: 2em;
    font-size: 1.2em;
}

.law {
    max-width: 600px;
    align-self: flex-end;
    padding: 1em 0;
}

.law-title {
    display: flex;
}

.law-title svg {
    width: 20px;
    margin-right: .5em;
    fill: #000;
}

.law p {
    margin: .5em 0;
    text-indent: 0 !important;
}