.modal, .overlay {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: 2;
}

.modal-container {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2em;
    border-radius: 1em;
    max-width: 600px;
    min-width: 250px;
}

.modal-content {
    width: 100%;
}

.modal-content p {
    z-index: 2;
    margin: 1em 0 2em 0;
    font-weight: bold;
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 350px) {
    .modal-buttons {
        flex-wrap: wrap;
    }
}